{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %} 
<div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
      <form action="" method="POST">
         {% csrf_token %}
         <br>
         <h3>Log-in your account</h3>
         <br>
         {{form|crispy}}
         <input type="submit" value="log-in" class="btn btn-success">
         <a href="{% url 'register-view' %}">don't have account</a>
      </form>
   </div>
   <div class="col-sm-4"></div>
</div>
{% endblock content %}